*{
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    font-size: 24px;
    color: #f9faf8;
}

.header-section{
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 400px;
    background-color: #1f2937;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    border-bottom: 1px solid #f9faf8;
}

.header .links{
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 10px;
}

.header-content{
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 50px;
    margin: 0 10%;
}

.header-content .title{
    font-size: 48px;
    color: #f9faf8;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.main p{
    font-size: 18px;
    color: #e5e7eb;
    flex-shrink: 1;
}

.main{
    flex: 1;
}

.main h1{ 
    margin-top: 0;
}

.image-container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

.image-container img{
    height: auto;
    width: 300px;
    border-radius: 15px;
    border: 5px solid grey;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
    padding: 0;
}
.listimages img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 15px;
    border: 5px solid #3882f6;
}

.infomation{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
}
.information-text{
    text-align: center;
    font-size: 36px;
    font-weight: 900px;
    color: #1f2937;
}

.listimages p{
    text-align: center;
}



.button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
}

img{
    height: 200px;
    width: 200px;
}

.quote-section{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote-section .quote{
    padding: 0% 15%;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-section .signature{
    padding: 0% 25%;
    text-align: end;
    font-weight: bold;
}

.signup-section{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    display: flex;
    gap: 50px;
    padding: 15px 70px;
    background-color: #3882f6;
    border-radius: 15px;
    color: #f9faf8;
}

.banner-button{
    align-self: center;
    background-color: #3882f6;
    color: #f9faf8;
    border: 3px solid #f9faf8;
    padding: 10px;
    border-radius: 8px;
}

.banner-title{
    font-weight: bold;
}

footer{
    text-align: center;
    padding: 20px;
    color: #f9faf8;
    background-color: #1f2937;
}
